:root{ 
  --purple: #f4def6;
  --blue: #c4dffd;
  --green: #a5dfca;
  --pink: #feb3b3;
  --peach: #fed6b3;
  --yellow: #ffec9d;
  --white: #fff;
  --black: #000;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background: var(--blue);
  font-family: "Urbanist", sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
/*MAIN CARD*/

.container {
  width: 530px;
  height: 100%;
  background-color: var(--white);
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px var(--black);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.imageContainer {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 1px 5px 5px var(--yellow);
  margin-top: 50px;
}

.main-photo {
  width: 100%;
  transition: transform 0.8s ease;
  cursor: pointer;
}

.main-photo:hover {
  transform: rotate(360deg);

}

h1 {
  font-size: 1.5em;
  padding: 25px 0;
}

h3 {
  width: 75%;
  text-align: center;
  font-size: 1em;
  padding: 50px 0 15px 0;
}

.designLink:hover {
  color: var(--pink);
  transition: .5s;
}

p {
  text-align: center;
  width: 65%;
  padding: 10px 0;
  
}

a {
  text-decoration: none;
  color: var(--black);
}

.links {
  width: 75%;
  height: 80px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px var(--black);
  cursor: pointer;
}

.links:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.08);
}


.link1, .link6 {
  background-color: var(--purple);
}
.link2, .link7 {
  background-color: var(--blue);
}

.link4 {
  background-color: var(--pink);
}

.link5 {
  background-color: var(--peach);
  
}

.tiktok-button,
.instagram-button {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
  background: var(--yellow);
}

.tiktok-button svg {
  margin-left: 12px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.instagram-button svg {
  margin-left: 10px;
  margin-top: 8px;
  width: 20px;
  color: rgb(0, 0, 0);
}

.instagram-button:hover,
.tiktok-button:hover{
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.08);
}


/*MEDIA QUERIES*/

@media (width <= 645px) {
  .container {
    max-width: 90%;
  }
  .links {
    font-size: 80%;
  }
/* 
  p {
    width: 75%;
  } */
}

